.list-wrapper ul {
  margin: 0;
  padding: 0 10px;
  list-style: none;
}

.list-wrapper ul li {
  padding: 15px 0;
  font-size: 1.2rem;
  font-weight: bold;
}

.list-wrapper input {
  border: 1px solid gray;
  padding: 8px;
  border-radius: 10px;
  margin: 10px 0;
}
